beautifulsoup4==4.7.1
behave==1.2.6
Click==7.0
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-PyMongo==2.2.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
Flask-WTF==0.14.2
Jinja2==2.10
mockupdb==1.7.0
parse==1.9.0
parse-type==0.4.2
pymongo==3.7.2
selenium==3.141.0
SQLAlchemy==1.2.16
unittest2==1.1.0
Werkzeug==0.14.1
WTForms==2.1
