beautifulsoup4==4.7.1
behave==1.2.6
Click==7.0
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
flask_marshmallow==0.10.1
flask_oauthlib==0.9.5
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.1
Flask-Testing==0.7.1
Flask-WTF==0.14.2
Jinja2==2.11.3
marshmallow==3.2.1
marshmallow-sqlalchemy==0.17.0
mockupdb==1.7.0
parse==1.9.0
parse-type==0.4.2
pymongo==3.9.0
selenium==3.141.0
SQLAlchemy==1.2.16
unittest2==1.1.0
Werkzeug==0.16.0
WTForms==2.2.1
