/*------------------------------------------------------------------------------
    MAIN  STYLES    
------------------------------------------------------------------------------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('../../static/img/background.jpg');
    background-size: cover;
}



#wrapper {
    width: 100%;

}


#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 55px;
    padding-top:50px;
}

#page-index a {
    text-decoration: none;
    outline: 0;
}

.text-center {
    text-align: center;
}


#text {
    color: black;
}


label {
    margin-left: 30px;
    font-weight: normal;
    color: white;
    font-size: 12px;
}

.no-padding-left {
    padding-left: 0px !important;
}

h2 {
    color: black;
    font-size: 20px;
    margin: 5px;
}

.plain-element {
    margin:0px;
    padding: 0px;
}

.warning {
    color: red;
}

.text-center {
    text-align: center;
}


.box {
   display: flex;
   align-items:center;
   margin-bottom: 10px;
}

#error {
    color: red;
    display:none;
}


/*------------------------------------------------------------------------------
    ROWS
------------------------------------------------------------------------------*/

.row-form {
    margin-top: 5%;
    width: 60%;
}

/*------------------------------------------------------------------------------
    DASHBOARD CARDS    
------------------------------------------------------------------------------*/

.dashboard-card {
    background: #1a2026

}

#algorithm_results {
    background-color: #1a2026;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
    display: none;
}

#algorithm_results .card-title{
    color: #FFCB9A;
    text-align: center;
}

#algorithm_results .card-action {
    text-align: center;
    height: 100px;
}

#results {
    font-size: 20px;
    color: white;
}



/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/


.btn-card {
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: transparent;
    text-align: right;
    color: white;
    background-color: #1a2734;
    font-size: 18px;

}

.btn-card:hover, .btn-card:active, .btn-card:focus {
    background-color: #121a23;
}

/*------------------------------------------------------------------------------
    ML SURVEY
------------------------------------------------------------------------------*/

#surveyElement {
    width: 90%;
    margin: auto;
}




#surveyElement h3 {
    color: #FFCB9A;
    font-weight: 500;

}

.sv_header {
    background: #1a2026;

}

.sv_main.sv_default_css .sv_body {
    background-color: #1a2026 !important;
    border-color: transparent !important;

}

.sv_row {
    background-color: #1a2026 !important;
    border-color: transparent !important;
}


.sv_q_title {
    color: #FFCB9A;
    font-size: 1.2em !important;
}

#surveyElement label {
    color: white;
    font-size: 1.1em !important;
}


[type="radio"] + span::before, [type="radio"] + span::after {
    margin: 12px;
}

[type="radio"]:not(:checked) + span::before, [type="radio"]:not(:checked) + span::after {
    border: 2px solid grey;
}

[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
    background-color: #bdbdbd;
    border: 2px solid #bdbdbd;
}

.sv_main.sv_default_css input[type="button"] {
    color: white;
    background-color: #195d19 !important;
    line-height: 2em;
    font-size: 1em;
}
.sv_main.sv_default_css .sv_progress {
    background-color:  #5a5a5a !important;
}

.sv_main.sv_default_css .sv_progress_bar {
    background-color: #bdbdbd !important;
}




/*------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #12161a;
}

.footer p {
    margin: 0;
    font-size: 15px;
    color: #fff;
    padding: 15px 0px;
    text-align: center;
}

/*------------------------------------------------------------------------------
    EDIT & ADD FORMS + TABLE
------------------------------------------------------------------------------*/



input[type=text],
select,
textarea {
    width: 90%;
    height: 50px;
    padding: 12px;
    border-radius: 10px;
    border-color: #1a2026;
    box-sizing: border-box;
    margin: 0px 50px 0px 15px;
    resize: vertical;
    background-color: #1a2026;
    color: white;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #ffcb9a;
    box-shadow: 0 1px 0 0 #ffcb9a;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label {
    color: #ffcb9a;
}

input[type="search"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #ffcb9a;
    box-shadow: 0 1px 0 0 #ffcb9a;

}

th,
tr {
    color: white;
}

.table {
    background-color: #1a2026;
}

.table-responsive {

}

.table-striped>tbody>tr:nth-of-type(2n+1) {
    background-color: #2a333c;
}

.table-striped>tbody>tr:nth-of-type(2n) {
    background-color: #1a2026;
}

.table-bordered {
    border-color: #2b4056;
}


.table-bordered>thead>tr>th {
    border-color: #2b4056;
    font-size: 14px;

}

.table-bordered>tbody>tr>td {
    border-color: #2b4056;
    font-size: 12px;

}

.table>tbody>tr>td {
    vertical-align: middle !important;
}

#dataTables-example_info {
    color: white;
}

.pagination>.active>a {
    background-color: #1a2026;
    border-color: #1a2026;
}

.pagination>.active>a:hover {
    background-color: white;
    color: black;
}

.pagination li.disabled a {
    background-color: grey;
    border-color: #1a2026;
    color: white;
}

.pagination>li>a {
    background-color: #2b4056;
    border-color: #2b4056;
    color: white;
}



.card .card-action {
    border-top: none;
}


input[type="search"] {
    color: white;
}

input[type="file"] {
    color: white;
}

#navigation p {
    font-size: 14px;
}

textarea:focus,
input:focus {
    outline: none;
}

input[type="text"]:focus:not([readonly]),
input[type="text"].valid {
    border-bottom: none;
    box-shadow: none;
}

#field {
    margin-left: 28px;
}

.select-wrapper {
    background-color: #1a2026;
}

.select-wrapper input.select-dropdown {
    border-bottom: none;
    margin-left: 10px;
    height: 30px;
}

.input-field .prefix~input {
    width: 80%;
    margin-top: 5px;
}

.prefix~.select-wrapper {
    width: 90%;
}

.input-field .prefix~label {
    margin-left: 30px;
    color: white;
}

.input-field.col .prefix~.validate~label {
    margin-left: 35px;
    color: #FFCB9A;
}

.input-field .prefix.active {
    color: #FFCB9A;
}

#field_label {
    margin-left: 32px;
}

#field_label.active {
    color: #FFCB9A;
}


#add_file {
    margin: 10px;
    color: #FFCB9A;
}


#q_field {
    height: 40px;
    margin-top: 0px;
}


.dropdown-content li>span {
    color: white;
}

.dropdown-content li>span:hover {
    background-color: #2b4056;
}

.select-dropdown li.disabled>span {

    color: #FFCB9A;
}

.caret {
    border-top: none;
    width: 15px;
}

.select-wrapper span.caret {
    color: #FFCB9A;
}

/*------------------------------------------------------------------------------
    MEDIA QUERIES     
------------------------------------------------------------------------------*/



/* MAX WIDTHS: LARGE SCREEN---------------------------------------------------*/

@media(max-width:1600px) {

}

/* MAX WIDTHS: MEDIUM SCREEN---------------------------------------------------*/

@media(max-width:992px) {


}



/* MAX WIDTHS: EXTRA-SMALL SCREEN---------------------------------------------*/

@media(max-width:521px) {

}

