{% extends 'base.html' %} {% block content %}


<div class="row row-form">

    <div id="surveyElement"></div>
    <div id="surveyResult"></div>
    <div class="card" id="algorithm_results">
        <div class="card-content">
            <span class="card-title">Suggested Algorithms</span>
        </div>
        <div class="card-action" id="results">

        </div>
    </div>

</div>

<div class="row row-form text-center">
    <button class="btn btn-navigation" type="submit" id="main_page">Main Page</button>
</div>


<script type="text/javascript">
    var questions = [{% for item in questions %}
        "{{item }}" ,
        {% endfor %}];

    var answers =  {{ answers|tojson }};

</script>
<script src="{{url_for('static', filename='js/forms.js')}}"></script>

{% endblock %}
