{% extends 'base.html' %} {% block content %}



<div class="col-md-12 text-left">
    <div class="card text-center" id="title_card">
        <div class="row">
            <h2 style="display:inline" id="title_tag" >Courtesy of <a style="display:inline" target="_blank" href="http://scikit-learn.org/stable/tutorial/machine_learning_map/index.html" class="waves-effect waves-light btn btn_small">SciKit-learn</a></h2>
        </div>
        <div class="card" id="pyplot">
            <img src="/static/img/ml_map.png" id="map" style='object-fit:contain'>
        </div>
        <br><br>
        <div class="row">
            <a href="{{url_for('dashboard.dashboard')}}" class="waves-effect waves-light btn-large" id="navigation">Back to Main Page</a>
        </div>
    </div>
</div>


{% endblock %}
