{% extends 'base.html' %} {% block content %}





<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<div class="row">
    <div class="col-md-12 text-left">
        <div class="card text-center main_card">
            <form action="{{url_for('dashboard.dashboard') }}" method="POST" id="question-form" class="col s12">

                <h1>CHARACTERISE YOUR DATASET</h1>
                <div class="row"></div>

                <div class="row"></div>
                <div class="row text-center">
                    <div class="col-md-1 text-center"></div>
                    {% for entry in questions %}

                    <div class="col-md-2 text-center plain-element">
                        <div class="card text-left question">
                            <h2>{{ entry.question }}</h2>
                            <br> {% set question_number = loop.index0 %} {% for answer in entry.answers %}
                            <h4>
                                <input type="radio" value="{{ answer }}" id="{{ answer }}" name="{{ question_number }}" required> {{ answer }}
                            </h4>
                            <br> {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-1 text-center"></div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row">
                    <button class="waves-effect waves-light btn-large" id="add" type="submit">MATCH ESTIMATOR</button>
                </div>
            </form>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <h2 id="algorithm_answer"> {{ message }} </h2>
            </div>
            <div class="row"></div>
            <div class="row"></div>
           
            <div class="row"></div>
            <div class="row text-center">
                
            </div>

        </div>
    </div>
</div>
    {% endblock %}
