/*------------------------------------------------------------------------------
    MAIN  STYLES    
------------------------------------------------------------------------------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('../../static/img/background.jpg');
    background-size: cover;

}

html {
    height: 100%;
    box-sizing: border-box;
}


#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 55px;
    padding-top:50px;
    display: block;
}

#page-index a {
    text-decoration: none;
    outline: 0;
}

.text-center {
    text-align: center;
}


#text {
    color: black;
}


label {
    margin-left: 30px;
    font-weight: normal;
    color: white;
    font-size: 12px;
}

.no-padding-left {
    padding-left: 0px !important;
}

.row-map h2 {
    color: #FFCB9A;
    font-size: 20px;
    margin: 5px;
}

.plain-element {
    margin:0px;
    padding: 0px;
}

.warning {
    color: red;
}

.text-center {
    text-align: center;
}


.box {
   display: flex;
   align-items:center;
   margin-bottom: 10px;
}

#error {
    color: red;
    display:none;
}

.img-map {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/*------------------------------------------------------------------------------
    ROWS
------------------------------------------------------------------------------*/

.row-form {
    margin-top: 5%;
    width: 60%;
}

.row-cards {
    width: 85%;
}

.row-map {
    width: 40%;
}

/*------------------------------------------------------------------------------
    DASHBOARD CARDS    
------------------------------------------------------------------------------*/

.dashboard-card {
    background: #1a2026;
    border-radius: 10px;

}

.form-card {
  background: #1a2026;
  color: #FFCB9A;
  padding-top: 10px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 50px;
}
.card .card-action {
    border-top: 1px solid transparent;
}

.table-card {
  background: #1a2026;
  color: #FFCB9A;
  padding: 10px;
  text-align: center;
  border-radius: 10px;

}

#algorithm_results {
    background-color: #1a2026;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
    display: none;
}

#algorithm_results .card-title{
    color: #FFCB9A;
    text-align: center;
}

#algorithm_results .card-action {
    text-align: center;
    height: 100px;
}

#results {
    font-size: 20px;
    color: white;
}



/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/


.btn-card {
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: transparent;
    text-align: right;
    color: white;
    background-color: #1a2734;
    font-size: 18px;

}

.btn-card:hover, .btn-card:active, .btn-card:focus {
    background-color: #121a23;
}

.btn-small {
   background-color: #273b4e;
   border-radius: 10px;
}

.btn-small:hover, .btn-small:focus {
    background-color: #b20000;
    color: white;
}

table.dataTable tbody td {
    padding: 8px !important;
    line-height: 2rem;
}

.btn-map {
    border-radius: 10px;
    border-color: transparent;
    color: white;
    background-color: #273b4e;
    font-size: 14px;
}

.btn-map:hover, .btn-map:focus {
    background-color: #1a2734;
    color: white;
}

/*------------------------------------------------------------------------------
    ML SURVEY
------------------------------------------------------------------------------*/

#surveyElement {
    width: 90%;
    margin: auto;
}




#surveyElement h3 {
    color: #FFCB9A;
    font-weight: 500;

}

.sv_header {
    background: #1a2026;

}

.sv_main.sv_default_css .sv_body {
    background-color: #1a2026 !important;
    border-color: transparent !important;

}

.sv_row {
    background-color: #1a2026 !important;
    border-color: transparent !important;
}


.sv_q_title {
    color: #FFCB9A;
    font-size: 1.2em !important;
}

#surveyElement label {
    color: white;
    font-size: 1.1em !important;
}


[type="radio"] + span::before, [type="radio"] + span::after {
    margin: 12px;
}

[type="radio"]:not(:checked) + span::before, [type="radio"]:not(:checked) + span::after {
    border: 2px solid grey;
}

[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
    background-color: #bdbdbd;
    border: 2px solid #bdbdbd;
}

.sv_main.sv_default_css input[type="button"] {
    color: white;
    background-color: #195d19 !important;
    line-height: 2em;
    font-size: 1em;
}
.sv_main.sv_default_css .sv_progress {
    background-color:  #5a5a5a !important;
}

.sv_main.sv_default_css .sv_progress_bar {
    background-color: #bdbdbd !important;
}




/*------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #12161a;
}

.footer p {
    margin: 0;
    font-size: 15px;
    color: #fff;
    padding: 15px 0px;
    text-align: center;
}

/*------------------------------------------------------------------------------
    EDIT & ADD FORMS
------------------------------------------------------------------------------*/


input[type=text] {
    border-radius: 10px;
    border-color: #1a2026;
    background-color: #1a2026;
    color: white;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #ffcb9a;
    box-shadow: 0 1px 0 0 #ffcb9a;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label {
    color: #ffcb9a;
}

input[type="search"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #ffcb9a;
    box-shadow: 0 1px 0 0 #ffcb9a;

}

.input-field .prefix {
    top: 1rem;
}


.input-field .prefix.active {
    color: #ffcb9a !important;
}

input[type="text"]:not(.browser-default) {
    height: 4rem;
}


/*------------------------------------------------------------------------------
    TABLE
------------------------------------------------------------------------------*/

#DataTable {
    width: 99%;
    margin-bottom: 2%;
    color: white;
}

#DataTable_info,
#DataTable_length {
    display: none;
}

#DataTable_paginate {
    float: inherit !important;
    text-align: center;

}

#DataTable_previous {
    margin-left: -1% !important;
}

.dataTables_wrapper .dataTables_filter {
    text-align: left !important;
}


#DataTable_filter label {
    font-size: 15px;
}

input[type="search"]:not(.browser-default) {
    width: 75%;
}

.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #1a2026;
}


.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #1a2026;
}

.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
    border-color: #494949;
}

.table-bordered > thead > tr {
    background-color: #1a2734;
}

/*------------------------------------------------------------------------------
    MEDIA QUERIES     
------------------------------------------------------------------------------*/



/* MAX WIDTHS: LARGE SCREEN---------------------------------------------------*/

@media(max-width:1600px) {
        .row-cards {
       width: 100%;
    }
}

/* MAX WIDTHS: MEDIUM SCREEN---------------------------------------------------*/

@media(max-width:992px) {
        #algorithm_results {
        width: 90%;
    }

    .row-map {
        width: 100%;
    }
    .dashboard-card {
        width: 90%;
        margin: auto;
    }

}



/* MAX WIDTHS: EXTRA-SMALL SCREEN---------------------------------------------*/

@media(max-width:521px) {

    .row-map,
    .row-cards,
    .row-form {
        width: 100%;
    }

    .dashboard-card {
        width: 90%;
        margin: auto;
    }

    #surveyElement label {
    color: white;
    font-size: 0.8em !important;
    }

    .sv_q_title {
    font-size: 1em !important;
    }

    .table-card {
        display: none;
    }

}

