{% extends 'base.html' %} {% block content %}
{% block extrahead %}

<!-- Algorithms Ajax Calls -->
<script src="{{url_for('static', filename='js/algorithms.js')}}"></script>

<!-- Data Tables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function() {
        $('#DataTable').dataTable();
    });

</script>
{% endblock %}

<div class="row row-cards">
    <div class="col-sm-12 col-md-4 col-lg-3">
        <form id="formAlgorithm" method="POST" class="col s12">
            <div class="card form-card">
                <div class="card-content">
                    <span class="card-title">Add Algorithm</span>
                    <br><br>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment</i>
                        <input id="algorithm" name="algorithm" type="text" required>
                        <label for="algorithm">Algorithm Name</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment</i>
                        <input id="description" name="description" type="text" required>
                        <label for="description">Short Description</label>
                    </div>
                    <div class="input-field col s12" style="height:25px">
                    </div>
                </div>

                <button type="submit" class="btn-card" id="addButton"><span>Continue <i
                        class="far fa-arrow-alt-circle-right"></i></span>
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="card form-card table-card">
            <div class="card-content">
                <span class="card-title">Algortihms Repository</span>
                <br>
                <div class="table-responsive" style="overflow-x: hidden;">
                    <table class="table table-striped table-bordered" id="DataTable">
                        <thead>
                        <tr>
                            <th class="center">Algorithm</th>
                            <th class="center">Description</th>
                            <th class="center">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for algorithm in suggested_algorithms %}
                        <tr class="odd gradeA" id="algorithmRow{{ algorithm._id }}">
                            <td class="center" id="suggested_algorithm">{{algorithm.algorithm}}</td>
                            <td class="center">{{algorithm.description}}</td>
                            <td class="center">
                                <button class="btn btn-small delete-button" algorithm_id="{{ algorithm._id }}">Delete
                                </button>
                            </td>
                        </tr>
                        {% endfor%}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{{url_for('survey')}}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>
{% endblock %}
