{% extends 'base.html' %} {% block content %}


<div class="row row-map">
    <div class="row text-center">
        <h2 style="display:inline" id="title_tag">Courtesy of &nbsp;&nbsp;<a style="display:inline" target="_blank"
                                                                             href="http://scikit-learn.org/stable/tutorial/machine_learning_map/index.html"
                                                                             class="btn btn-map">SciKit-learn</a>
        </h2>
    </div>

    <div class="card dashboard-card">
        <img src="/static/img/ml_map.png" id="map" class="img-responsive img-map">

        <button type="submit" class="btn-card" onclick="window.location='{{url_for('dashboard')}}'"><span>Main Page <i
                class="far fa-arrow-alt-circle-right"></i></span>
        </button>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{{url_for('dashboard')}}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>

{% endblock %}
