{% extends 'base.html' %} {% block content %}

{% block extrahead %}
<!-- Survey Js -->
<script src="https://surveyjs.azureedge.net/1.0.78/survey.jquery.js"></script>

<!-- Velocity Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
{% endblock %}

<div class="row row-form">

    <div id="surveyElement"></div>
    <div id="surveyResult"></div>
    <div class="card" id="algorithm_results">
        <div class="card-content">
            <span class="card-title">Suggested Algorithms</span>
        </div>
        <div class="card-action" id="results">

        </div>
        <button type="submit" class="btn-card" onclick="location.href='{{url_for('survey')}}'"><span>Main Page <i
                class="far fa-arrow-alt-circle-right"></i></span>
        </button>
    </div>
</div>

{% block head_js %}
<script type="text/javascript">
    var questions = [{% for item in questions %}
        "{{item }}" ,
        {% endfor %}];

    var answers =  {{ answers|tojson }};
</script>

<script src="{{url_for('static', filename='js/questions.js')}}"></script>




{% endblock head_js %}


{% endblock %}
