{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block extrahead %}

<link href="{{url_for('static', filename='css/forms.css')}}" rel="stylesheet"/>
<script src="{{url_for('static', filename='js/6.js')}}"></script>
{% endblock %}
{% block content %}

<div class="container">
    <div class="form-signin">
        <div class="row row-confirmation">
            <p>Please click the link below to confirm registration for {{ email }}.</p>

          <br>
          <a href="" confirmation="{{confirmation_id}}" value="{{link}}" id="confirmationLink">Confirm Registration</a>
        </div>
        <div class="row"></div>
    </div>
</div>
{% endblock %}