{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block extrahead %}

<link href="{{url_for('static', filename='css/forms.css')}}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="row row-alert" style="min-height: 72px">
</div>


<div class="container">
    <div class="form-signin">
        <div class="row row-confirmation">
            <p>Please click the link below to confirm registration</p>

          <br>
          <a href="{{link}}">Confirm Registration</a>
        </div>
        <div class="row"></div>
    </div>
</div>
{% endblock %}