{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block extrahead %}

<link href="{{url_for('static', filename='css/forms.css')}}" rel="stylesheet"/>
<script src="{{url_for('static', filename='js/7.js')}}"></script>
{% endblock %}
{% block content %}

<div class="container">

    <form class="form-signin" method="POST" id="formLogin">
        <i class="material-icons" id="icon-login">lock</i>
        <fieldset class="form-box">
            <div class="row text-center">
                <h4>Login User</h4>
            </div>
            <div class="row text-center">
                <i class="fab fa-github"></i><i class="fab fa-google"></i>
            </div>
            <div class="row plain-element">
                <div class="input-field col s6 field-description">
                    <h6>Your Email Address:</h6>
                </div>
                <div class="input-field col s6">
                    <input class="form-control" id="email" name="email" required="" type="text" value="">
                </div>
            </div>
            <div class="row plain-element">
                <div class="input-field col s6 field-description">
                    <h6>Your Password:</h6>
                </div>
                <div class="input-field col s6">
                    <input class="form-control" id="password" name="password" required="" type="password" value="">
                </div>
            </div>
            <div class="row plain-element">
                <div class="input-field col s6 field-description">
                </div>
                <div class="input-field col s6">
                    <div class="checkbox">
                      <label>
                        <input id="remember" name="remember" type="checkbox" value="y"> Remember Me
                      </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn-login"><span>Continue <i class="far fa-arrow-alt-circle-right"></i></span>
            </button>
        </fieldset>
    </form>
</div>
{% endblock %}