{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block extrahead %}
<link href="{{url_for('static', filename='css/forms.css')}}" rel="stylesheet"/>
{% endblock %}
{% block content %}

<div class="container">
    <form class="form-signin" method="POST" id="formRegister">
        <i class="material-icons" id="icon-login">assignment_turned_in</i>
        <fieldset class="form-box">
            <div class="row text-center">
                <h4>Register User</h4>
            </div>
            <div class="row plain-element">
                <div class="input-field col s6 field-description">
                    <h6>Your Email Address:</h6>
                </div>
                <div class="input-field col s6">
                    <input class="form-control" id="email" name="email" required="" type="text" value="" maxlength="50">
                </div>
            </div>
            <div class="row plain-element">
                <div class="input-field col s6 field-description">
                    <h6>Your Username:</h6>
                </div>
                <div class="input-field col s6">
                    <input class="form-control" id="username" name="username" required="" type="text" value=""  maxlength="80">
                </div>
            </div>
            <div class="row plain-element">
                <div class="input-field col s6 field-description">
                    <h6>Your Password:</h6>
                </div>
                <div class="input-field col s6">
                    <input class="form-control" id="password" name="password" required="" type="password" value=""  maxlength="80">
                </div>
            </div>
            <div class="row plain-element">
                <div class="input-field col s6 field-description">
                    <h6>Confirm Password:</h6>
                </div>
                <div class="input-field col s6">
                    <input class="form-control" id="confirm" name="confirm" type="password" value=""  maxlength="80">
                </div>
            </div>

            <button type="submit" class="btn-login" id="registerUser"><span>Continue <i
                    class="far fa-arrow-alt-circle-right"></i></span>
            </button>
        </fieldset>
    </form>
</div>

{% block head_js %}
<script src="{{url_for('static', filename='js/user.js')}}"></script>
{% endblock head_js %}
{% endblock %}

