{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block extrahead %}

<link href="{{url_for('static', filename='css/forms.css')}}" rel="stylesheet"/>
<script src="{{url_for('static', filename='js/user.js')}}"></script>
{% endblock %}
{% block content %}
<div class="row row-alert" style="min-height: 72px">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for category, message in messages %}
    <div class="{{ category }}">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endfor %}

    {% endif %}
    {% endwith %}
</div>

<div class="container">
    <h5 style="color:white">{{users}}</h5>
    {% for element in conf %}
    <h5 style="color:white">{{element}}</h5>
    {% endfor %}
    {% if message %}
    <h5 style="color:white">{{message}}</h5>
    {% endif %}
    <form class="form-signin" method="POST" id="formRegister">
        <i class="material-icons" id="icon-login">assignment_turned_in</i>
        <fieldset class="form-box">
            <div class="row text-center">
                <h4>Register User</h4>
            </div>
            <div class="row plain-element">
                <div class="input-field col s6 field-description">
                    <h6>Your Email Address:</h6>
                </div>
                <div class="input-field col s6">
                    <input class="form-control" id="email" name="email" required="" type="text" value="">
                </div>
            </div>
            <div class="row plain-element">
                <div class="input-field col s6 field-description">
                    <h6>Your Username:</h6>
                </div>
                <div class="input-field col s6">
                    <input class="form-control" id="username" name="username" required="" type="text" value="">
                </div>
            </div>
            <div class="row plain-element">
                <div class="input-field col s6 field-description">
                    <h6>Your Password:</h6>
                </div>
                <div class="input-field col s6">
                    <input class="form-control" id="password" name="password" required="" type="password" value="">
                </div>
            </div>
            <div class="row plain-element">
                <div class="input-field col s6 field-description">
                    <h6>Confirm Password:</h6>
                </div>
                <div class="input-field col s6">
                    <input class="form-control" id="confirm" name="confirm" type="password" value="">
                </div>
            </div>

            <button type="submit" class="btn-login" id="registerUser"><span>Continue <i
                    class="far fa-arrow-alt-circle-right"></i></span>
            </button>
        </fieldset>
    </form>
</div>


{% endblock %}

